.cuerpo{
  margin: 2rem;
}

.logo{
  width: 30rem;
  height: 13rem;
}

.contenedor-botones{
  margin-top: 3rem;
}

.mayuscula{
  text-transform: capitalize;
  font-style: italic;
  text-decoration: underline;
}

.redessociales{
  margin-bottom: 1rem;
}


.imagenes{
  margin-bottom: 1rem;
}

.espacio-blog{
  margin-top: 2rem;
}